data/Acquisition_2019Q1.txt
data/Performance_2019Q1.txt
.DS_Store
data/Acquisition_2018Q1.txt
data/Acquisition_2018Q2.txt
data/Acquisition_2018Q3.txt
data/Acquisition_2018Q4.txt
data/Performance_2018Q1.txt
data/Performance_2018Q2.txt
data/Performance_2018Q3.txt
data/Performance_2018Q4.txt
